/blog-page-for-website.css
/firstproject.html
/form.html
/form.js
/images
/Job-Application-Web-Page.html
/Job-Application-Web.css
/navbar.html
/netflix-clone.html
/personal_portfolio.html
/personal_portfolio_style.css
/practice.html
/practices.html
/python.py
/Simple-Calculator.py
/Theory.docx
/To-do-List.py
/Tribute-page.html
/unit_convertrer.py
/Web-Page.html